@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=EB+Garamond:wght@400;600&family=Pixel:wght@100;400;700&family=Montserrat:wght@700&display=swap');

body {
  background-image: linear-gradient(
      to bottom,
      rgb(24, 199, 44, 0.75),
      rgba(255, 140, 0, 1)
    ),
    url('assets/images/bg.png');
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #b0b0b0;
  margin: 0;
  padding: 0;
  transition: background 0.3s;
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
/* p, */
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  font-family: 'Pixel', sans-serif;
  /* color: #b0b0b0 !important; */
}

body {
  font-family: 'Cera-Pro', sans-serif !important;
}

.main {
  height: calc(100vh - 60px);
  overflow-y: auto;
  /* 'auto' will show the scrollbar only when necessary */
}
/* Hide scrollbar for Chrome, Safari and Opera */
.main::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.main {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Nav */

.navbar,
.nav {
  background-color: #303030 !important;
  z-index: 1000 !important;
  padding: 15px 30px !important;
  position: fixed !important;
  width: 100% !important;
  top: 0 !important;
  left: 0 !important;
}

nav .dropdown-menu {
  background-color: rgba(48, 48, 48, 0.8) !important;
  padding-top: 15px !important ;
}

nav .dropdown-item {
  /* padding: 0 !important; */
}

nav hr {
  background-color: #f38960 !important;
}

/* Texts */
.headline {
  font-family: 'Pixel', serif !important;
  /* font-family: 'Molde', serif !important; */
  /* font-family: 'Montserrat', sans-serif !important; */
  /* font-family: 'EB Garamond', serif !important; */
  font-weight: 700 !important;
  font-size: 56px !important;
  line-height: 1.2 !important;
  color: #b0b0b0 !important;
}

.page-header {
  font-family: 'Pixel', serif !important;
  /* font-family: 'Molde', serif !important; */
  /* font-family: 'Montserrat', sans-serif !important; */
  /* font-family: 'EB Garamond', serif !important; */
  font-size: 24px !important;
  line-height: 1.2 !important;
  color: #b0b0b0 !important;
}

.container-header {
  font-family: 'Pixel', serif !important;
  /* font-family: 'Montserrat', sans-serif !important; */
  /* font-family: 'EB Garamond', serif !important; */
  font-size: 22px !important;
  line-height: 1.2 !important;
  color: #b0b0b0 !important;
}

.section-heading {
  font-family: 'Pixel', serif !important;
  /* font-family: 'Montserrat', sans-serif !important; */
  /* font-family: 'EB Garamond', serif !important; */
  font-weight: 400 !important;
  font-size: 24px !important;
  line-height: 1.2 !important;
  color: #b0b0b0 !important;
}

.text-primary {
  color: #f38960 !important;
}

.text-gray {
  color: #968282 !important;
}

.text-light {
  color: #b0b0b0 !important;
}

.font-arvo {
  font-family: 'Pixel', serif !important;
}

.font-montserrat {
  font-family: 'Montserrat', sans-serif !important;
}

.font-garamond {
  font-family: 'EB Garamond', serif !important;
}

/* Content */

.bg-primary {
  background-color: rgba(243, 137, 96, 0.5) !important;
}

.bg-secondary {
  background-color: rgba(48, 48, 48, 0.5) !important;
}

.bg-gray {
  background-color: #555555 !important;
}

.container {
  background-color: #303030 !important;
  border-radius: 10px !important;
  padding: 30px !important;
  z-index: 0 !important;
  /* opacity: 0.75 !important; */
  max-height: 80vh;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.border-primary {
  border: 1px dashed #f38960 !important;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none !important;
}

/* .container-list-part {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  height: 75vh;
} */

/* .display-list-header {
  margin-top: 3vh !important;
  padding-bottom: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
} */

/* .display-list {
  max-height: 75vh;
} */

.card {
  background-color: #303030 !important;
  color: #b0b0b0 !important;
  border-radius: 10px !important;
}

a {
  color: #f38960 !important;
  transition: color 0.3s !important;
}

a:hover {
  color: #f38960 !important;
}

/* Buttons */
.btn,
.icon {
  transition: all 0.3s ease;
}

/* Button Primary */
.btn-primary {
  background-color: #303030 !important;
  color: #f38960 !important;
  border-color: #51393e !important;
}

.btn-primary:hover {
  background-color: #424242 !important; /* on hover - slightly lighter  */
  border-color: #51393e !important;
}

.btn-outline-primary {
  color: #f38960 !important;
  border-color: #f38960 !important;
}

.btn-outline-primary:hover {
  background-color: #f38960 !important;
  color: #212121 !important;
}

.btn-outline-primary:focus,
.btn-outline-primary:active,
.btn-outline-primary.active {
  box-shadow: 0 0 0 0.25rem rgba(243, 137, 96, 0.5) !important;
}

.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
  color: #f38960 !important;
  border-color: #f38960 !important;
}

/* Button Success */
.btn-success {
  background-color: #343434 !important;
  color: #28a745 !important;
  border-color: #2c4d32 !important;
}

.btn-success:hover {
  background-color: #3d4a3f !important;
  border-color: #2c4d32 !important;
}

.btn-outline-success {
  color: #28a745 !important;
  border-color: #28a745 !important;
}

.btn-outline-success:hover {
  background-color: #39974f !important;
  color: #212121 !important;
}

.btn-outline-success:hover {
  color: #212121 !important;
}

/* Button Info */
.btn-info {
  background-color: #36454f !important;
  color: #7a9bae !important;
  border-color: #2c3e4f !important;
}

.btn-info:hover {
  background-color: #465a6b !important;
  border-color: #2c3e4f !important;
}

.btn-outline-info {
  color: #7a9bae !important;
  border-color: #7a9bae !important;
}

.btn-outline-info:hover {
  background-color: #7a9bae !important;
  color: #212121 !important;
}

.btn-outline-info:focus,
.btn-outline-info:active,
.btn-outline-info.active {
  box-shadow: 0 0 0 0.25rem rgba(122, 155, 174, 0.5) !important;
}

.btn-outline-info.disabled,
.btn-outline-info:disabled {
  color: #7a9bae !important;
  border-color: #7a9bae !important;
}

/* Form */

.paper-dark-b {
  background-color: #303030 !important;
}

.form-control,
input,
select,
textarea {
  background-color: #212121 !important;
  border: 1px solid #f38960 !important;
  border-radius: 5px !important;
  color: #b0b0b0 !important;
}

.form-label {
  font-weight: bold !important;
  margin-bottom: 5px !important;
  color: #b0b0b0 !important;
}

/* .is-invalid {
  border-color: #dc3545 !important;
}

.invalid-feedback {
  display: block;
} */

/* Form: Floating Label */

.form-floating > .form-control-plaintext ~ label,
.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label,
.form-floating > .form-select ~ label {
  color: #968282 !important;
}

label::after {
  background-color: inherit !important;
}

/* Form: Toggle Switch */

/* this background-color also takes care of the toggle switch background */
/* input,
select,
textarea {
  color: #b0b0b0 !important;
} */
/* #isSolutionSwitch,
#isWhiteboardModeSwitch,
#isInterviewModeSwitch {
  background-color: #773c24 !important;
  color: #b0b0b0 !important;
} */

#select-problem-inside-typeahead {
  background-color: transparent !important;
  border: none !important;
  width: 100% !important;
}
#select-problem-inside-typeahead:focus {
  outline: none !important;
  box-shadow: none !important;
}

.form-check-input {
  background-color: #212121 !important;
  border-color: #f38960 !important;
}

.form-check-input:checked {
  background-color: #c4740b !important;
  border-color: #c4740b !important;
}

.form-check-input:focus {
  outline: none !important;
  box-shadow: 0 0 0 0.2rem rgba(255, 100, 180, 0.5) !important;
}

/* Form: Datepicker Icon */

input[type='date']::-webkit-calendar-picker-indicator {
  border: 1px solid #f38960 !important;
  border-radius: 5px !important;
  background-color: #f38960 !important;
}

input[type='time']::-webkit-calendar-picker-indicator {
  border: 1px solid #f38960 !important;
  border-radius: 5px !important;
  background-color: #f38960 !important;
}

/* Form: Typeahead */

#select-problem-typeahead.rbt-menu.dropdown-menu {
  background-color: #303030 !important;
  color: #b0b0b0 !important;
  width: 400px !important;
}

#select-problem-typeahead.rbt-menu.dropdown-menu.show {
  top: 58px !important;
}

#select-problem-typeahead.dropdown-item {
  background-color: #303030 !important;
  color: #b0b0b0 !important;
}

.rbt-input-hint {
  /* border-radius: 100px !important; */
  background-color: transparent !important;
}

#problem-search-typeahead {
  font-family: 'Pixel', serif !important;
  font-size: 12px !important;
}

#problem-search-typeahead.rbt-menu.dropdown-menu.show {
  top: 0px !important;
}

/* #problem-search-typeahead.rbt-menu.dropdown-menu {
  background-color: rgba(48, 48, 48, 0.75) !important;
} */
.dropdown-menu {
  background-color: rgba(48, 48, 48, 0.75) !important;
}

.dropdown-item:hover,
.dropdown-item:focus {
  background-color: #212121 !important;
}
.dropdown-item.active {
  background-color: #653906 !important;
}

.required-asterisk {
  color: red;
}

/* Icons */
.icon {
  font-size: 20px !important;
  color: #f38960 !important;
}

/* Table */
/* .table thead {
  position: relative;
} */

.table-dark tbody tr td,
.table-dark thead tr th {
  color: #b0b0b0;
}

table thead tr {
  position: sticky;
  top: 0;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}

/* Card & Accordion for NoteListPage */

.card-header {
  cursor: pointer !important;
  color: #f38960 !important;
  transition: color 0.3s ease !important;
}

.card-header:hover {
  color: #f4e4e4 !important;
}

.card-header .icon,
.card-header .your-accordion-stick-class {
  color: #df6fbc !important;
}

/* Accordion's Arrow */
.accordion-header {
  cursor: pointer;
  position: relative;
}

.accordion-arrow {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.accordion-arrow::before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  border-right: 2px solid #f38960;
  border-bottom: 2px solid #f38960;
  transform: rotate(-45deg);
  transition: transform 0.3s ease-in-out;
}

.accordion-toggle .accordion-arrow::before {
  transform: rotate(45deg);
}

/* Resource Card */

.resource-card {
  width: 100% !important;
  position: relative !important;
  padding-bottom: 56.25% !important; /* 16:9 aspect ratio */
  height: 0 !important; /* set height to 0 to use padding for aspect ratio */
}

.resource-card iframe,
.resource-card img {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  border-radius: 5px !important;
}

/* Not Found Page */
.not-found-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #e12a2a;
  color: #333;
}

.not-found-title {
  font-size: 6rem;
  font-weight: bold;
  margin: 0;
}

.not-found-message {
  font-size: 1.5rem;
}

.not-found-image {
  max-width: 300px;
  border-radius: 5%;
}

/* Filter */
/* removes filter button's blue background on select */
#dropdownMenuButton1.btn.btn-outline-primary.dropdown-toggle.show {
  background-color: transparent !important;
  color: #f38960 !important;
  border-color: #f38960 !important;
}

/* Form - Methods Input - Scrollbar (chrome & safari) */
select::-webkit-scrollbar {
  width: 12px !important;
}

select::-webkit-scrollbar-track {
  background: #333 !important;
}

select::-webkit-scrollbar-thumb {
  background-color: #b0b0b0 !important;
  border-radius: 6px !important;
}

/* AG Grid */

.ag-root-wrapper {
  border-radius: 12px !important;
  overflow: hidden !important;
}

.ag-cell {
  color: lightgrey !important;
}

.ag-header-cell-label {
  color: grey !important;
}

/* Drawer */

.MuiBackdrop-root {
  background-color: rgba(
    0,
    0,
    0,
    0.25
  ) !important; /* override the MUI alpha for darkness */
}

.border-orange {
  border-color: orange !important;
}
.text-orange {
  color: orange !important;
}
.border-true {
  border-color: green !important;
}
.border-false {
  border-color: red !important;
}

.text-false {
  color: red !important;
}
.text-true {
  color: green !important;
}

.bar-container {
  width: 70px;
  height: 12px;
  display: flex;
}

.bar-segment {
  height: 100%;
  border-right: 1px solid black;
}

.bar-segment:last-child {
  border-right: none;
}

/* BreadCrumb */
.breadcrumb-separator {
  margin-left: 0.5em !important;
  margin-right: 0.5em !important;
}

/* Scrollbar in general */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #303030;
}

::-webkit-scrollbar-thumb {
  background: #f38960;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b35640;
}

/* Hover state of links */
a:hover {
  color: #ffd700 !important;
}

/* Note Detail CRUD */
.note-detail-inside-frame {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  color: #b0b0b0;
  border: 1px solid white;
  padding: 0 10px 10px 10px;
  width: 230px;
  height: 290px;
}

.note-detail-inside-frame:hover {
  border: 1px solid #f58220;
}

/* Note Detail CRUD - Grid */
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

/* Note Detail CRUD */
.form-like-list-group {
  border: 1px solid #f58220;
  border-radius: 0.25rem;
  width: 100%;
}

.form-like-list-group .form-control {
  border: none;
  border-bottom: 1px solid #ddd;
  border-radius: 0;
  padding: 0.75rem 1.25rem;
}
.form-like-list-group .form-control {
  border: none;
  box-shadow: none;
  padding: 0.75rem 1.25rem;
}

.no-border {
  border: none !important;
  outline: none !important;
  border-radius: 0 !important;
  background-color: transparent !important;
}
.no-border:focus {
  outline: none !important;
  box-shadow: none !important;
}
.no-border:placeholder {
  color: gray;
}
.customized-border {
  border: 0.5px solid #f38960 !important;
}

.form-like-list-group .form-control:last-child {
  border-bottom: 0;
}

/* Pagination */
.custom-pagination .page-item .page-link {
  background-color: #303030;
  color: #f38960;
  border-color: #7f5b62;
}

.custom-pagination .page-item.active .page-link,
.custom-pagination .page-item .page-link:hover .page-link:focus {
  background-color: #564242;
  color: #212121;
  border-color: #f38960;
}

.custom-pagination .page-item.disabled .page-link {
  color: #968282;
}

/* Pagination - tag search */
#tag-search.form-control:focus {
  box-shadow: none !important;
}

.custom-pagination * {
  box-shadow: none !important;
}

/* Toast Styles: overwriting Bootstrap's Toast styles  */
.toast {
  background-color: #303030;
  color: #f38960;
  border: 1px solid #f38960;
  border-radius: 5px;
  padding: 10px;
  font-family: 'Pixel', sans-serif;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.toast-header {
  background-color: #303030;
  color: #f38960;
  border-bottom: 1px solid #f38960;
}

.toast-body {
  color: #b0b0b0;
}

h2.MuiTypography-root.MuiTypography-h6.MuiDialogTitle-root.css-bdhsul-MuiTypography-root-MuiDialogTitle-root {
  text-shadow: none;
}
#debounce-input,
input {
  border-width: 0px !important;
  padding-left: 10px;
  background-color: transparent !important;
}

#debounce-input,
textarea {
  border-width: 0px !important;
  padding-left: 10px;
  background-color: transparent !important;
}

/* special hsl color from orange to yellow */
.hsl-transition-colors {
  font-family: 'Molde';
  /* font-size: 3.5rem; */
  color: transparent;
  background-image: linear-gradient(
    -90deg,
    rgb(255, 89, 0) 0%,
    #f38960 30%,
    rgb(240, 240, 118) 60%,
    darkorange 100%
  );

  background-size: 200% 100%;
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  text-shadow: 0 0 0 transparent;
  animation: moveGradient 3s infinite alternate;
}

@keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
