@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap');

/* General */
body {
  background: linear-gradient(
    45deg,
    /* rgb(42, 36, 61), */ /* rgb(36, 31, 52) */ rgb(90, 30, 150),
    rgb(240, 50, 130)
  ) !important;
  /* color: rgb(217, 210, 239) !important; */
  color: rgb(231, 112, 157) !important;
  margin: 0 !important;
  padding: 0 !important;
  transition: background 0.3s !important;
  height: 100vh !important;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Lato', sans-serif !important;
}

/* *,
*::before,
*::after {
  color: inherit !important;
} */

.text-light {
  color: rgb(85, 210, 150) !important;
}

.text-light-gray {
  color: #888 !important;
}

/* Glassmorphic Container */
.container {
  /* background-color: rgba(42, 36, 61, 0.75) !important; */
  background-color: rgba(240, 50, 130, 0.75) !important;
  border-radius: 10px !important;
  padding: 20px !important;
  backdrop-filter: blur(10px); /* Glass effect */
  border: 1px solid rgba(255, 255, 255, 0.1); /* Light border */
  z-index: 0 !important;
}

/* Buttons */
.btn-primary {
  background-color: rgba(255, 144, 102, 0.8) !important; /* Semi-transparent */
  border-color: rgba(255, 255, 255, 0.1) !important;
  backdrop-filter: blur(4px); /* Glass effect */
}

.btn-primary:hover {
  background-color: rgba(225, 114, 72, 0.8) !important;
}

.btn-outline-primary {
  color: rgb(255, 144, 102) !important; /* Custom orange text */
  background-color: transparent !important;
  border-color: rgb(255, 144, 102) !important; /* Custom orange border */
  backdrop-filter: blur(4px); /* Glass effect */
}

.btn-outline-primary:hover {
  background-color: rgba(
    255,
    144,
    102,
    0.2
  ) !important; /* Slightly tinted orange on hover */
  border-color: rgb(
    225,
    114,
    72
  ) !important; /* Darker orange for hover border */
  color: rgb(225, 114, 72) !important; /* Darker orange text on hover */
}

.btn-outline-primary:focus,
.btn-outline-primary:active,
.btn-outline-primary.active {
  box-shadow: 0 0 0 0.25rem rgba(255, 144, 102, 0.5) !important; /* Orange focus and active state glow */
}

.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
  color: rgba(
    255,
    144,
    102,
    0.5
  ) !important; /* Slightly faded text for disabled state */
  border-color: rgba(
    255,
    144,
    102,
    0.5
  ) !important; /* Slightly faded border for disabled state */
}

.navbar,
.nav {
  /* background-color: rgba(36, 31, 52, 0.8) !important;  */
  z-index: 2 !important;
  background-color: rgba(90, 30, 150, 0.8) !important;
  backdrop-filter: blur(10px); /* Glass effect */
}

.card {
  /* background-color: rgba(36, 31, 52, 0.8) !important; */
  background-color: rgba(90, 30, 150, 0.8) !important;
  /* color: rgb(129, 123, 150) !important; */
  color: rgb(68, 23, 216) !important;
  border-radius: 10px !important;
  backdrop-filter: blur(10px); /* Glass effect */
  border: 1px solid rgba(255, 255, 255, 0.1); /* Light border */
}

a {
  color: rgb(255, 144, 102) !important;
  transition: color 0.3s !important;
}

a:hover {
  color: rgb(225, 114, 72) !important;
}

/* Form */
.form-control {
  /* background-color: rgba(36, 31, 52, 0.6) !important; */
  background-color: rgba(90, 30, 150, 0.6) !important;
  /* border: 1px solid rgb(129, 123, 150) !important; */
  border: 1px solid rgb(68, 23, 216) !important;
  border-radius: 5px !important;
  /* color: rgb(217, 210, 239) !important; */
  color: rgb(231, 112, 157) !important;
  backdrop-filter: blur(4px); /* Glass effect */
}

.form-label {
  font-weight: bold !important;
  margin-bottom: 5px !important;
}

/* Icons */
.icon {
  font-size: 20px !important;
  color: rgb(255, 144, 102) !important;
}

/* This targets the switch when it's checked */
.form-switch
  .form-check-input:checked[type='checkbox']
  ~ .form-check-label::before {
  background-color: #ff5733 !important; /* Replace with your custom primary color */
  border-color: #ff5733 !important; /* Replace with your custom primary color */
}

/* This targets the circle inside the switch when it's checked */
.form-switch
  .form-check-input:checked[type='checkbox']
  ~ .form-check-label::after {
  transform: translateX(1.5rem) !important;
}

/* If you also want to change the color when the switch is focused or active */
.form-switch
  .form-check-input:focus:checked[type='checkbox']
  ~ .form-check-label::before,
.form-switch
  .form-check-input:active:checked[type='checkbox']
  ~ .form-check-label::before {
  box-shadow: 0 0 0 0.2rem rgba(255, 87, 51, 0.25) !important; /* Replace rgba(255, 87, 51, 0.25) with a lighter or transparent version of your custom primary color */
}
