@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap');

/* General */
body {
  background: linear-gradient(45deg, #121212, #bf5af2) !important;
  color: #ff1cae !important;
  margin: 0 !important;
  padding: 0 !important;
  transition: background 0.3s !important;
  height: 100vh !important;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Lato', sans-serif !important;
}

.text-light {
  color: #ff1cae !important;
}

.text-light-gray {
  color: #cc99ff !important;
}

/* Glassmorphic Container */
.container {
  background-color: rgba(191, 90, 242, 0.75) !important;
  border-radius: 10px !important;
  padding: 20px !important;
  backdrop-filter: blur(10px); /* Glass effect */
  border: 1px solid rgba(255, 255, 255, 0.1); /* Light border */
  z-index: 0 !important;
}

/* Buttons */
.btn-primary {
  background-color: rgba(255, 28, 174, 0.8) !important; /* Semi-transparent */
  border-color: rgba(255, 255, 255, 0.1) !important;
  backdrop-filter: blur(4px); /* Glass effect */
}

.btn-primary:hover {
  background-color: rgba(255, 28, 174, 0.9) !important;
}

.btn-outline-primary {
  color: #ff1cae !important;
  background-color: transparent !important;
  border-color: #ff1cae !important;
  backdrop-filter: blur(4px); /* Glass effect */
}

.btn-outline-primary:hover {
  background-color: rgba(255, 28, 174, 0.1) !important;
  border-color: #e5009a !important;
  color: #e5009a !important;
}

.btn-outline-primary:focus,
.btn-outline-primary:active,
.btn-outline-primary.active {
  box-shadow: 0 0 0 0.25rem rgba(255, 28, 174, 0.5) !important;
}

.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
  color: rgba(255, 28, 174, 0.5) !important;
  border-color: rgba(255, 28, 174, 0.5) !important;
}

.navbar,
.nav {
  z-index: 2 !important;
  background-color: rgba(18, 18, 18, 0.8) !important;
  backdrop-filter: blur(10px); /* Glass effect */
  padding: 10px !important;
}

.card {
  background-color: rgba(18, 18, 18, 0.8) !important;
  color: #ff1cae !important;
  border-radius: 10px !important;
  backdrop-filter: blur(10px); /* Glass effect */
  border: 1px solid rgba(255, 255, 255, 0.1); /* Light border */
}

a {
  color: #ff1cae !important;
  transition: color 0.3s !important;
}

a:hover {
  color: #e5009a !important;
}

/* Form */
.form-control {
  background-color: rgba(18, 18, 18, 0.6) !important;
  border: 1px solid #ff1cae !important;
  border-radius: 5px !important;
  color: #ff1cae !important;
  backdrop-filter: blur(4px); /* Glass effect */
}

.form-label {
  font-weight: bold !important;
  margin-bottom: 5px !important;
}

/* Icons */
.icon {
  font-size: 20px !important;
  color: #ff1cae !important;
}

/* Switch */
.form-switch
  .form-check-input:checked[type='checkbox']
  ~ .form-check-label::before {
  background-color: #ff1cae !important;
  border-color: #ff1cae !important;
}

.form-switch
  .form-check-input:checked[type='checkbox']
  ~ .form-check-label::after {
  transform: translateX(1.5rem) !important;
}

.form-switch
  .form-check-input:focus:checked[type='checkbox']
  ~ .form-check-label::before,
.form-switch
  .form-check-input:active:checked[type='checkbox']
  ~ .form-check-label::before {
  box-shadow: 0 0 0 0.2rem rgba(255, 28, 174, 0.25) !important;
}
