@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=EB+Garamond:wght@400;600&family=Lato:wght@100;400;700&family=Montserrat:wght@700&display=swap');

body {
  background-image: linear-gradient(
      to bottom,
      rgb(24, 199, 44, 0.75),
      rgba(255, 140, 0, 1)
    ),
    url('assets/images/duotone_effect_hero2.png');
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #b0b0b0;
  margin: 0;
  padding: 0;
  transition: background 0.3s;
  height: 100vh;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Lato', sans-serif !important;
}

.main {
  height: calc(100vh - 60px);
  overflow-y: auto;
  /* 'auto' will show the scrollbar only when necessary */
}
/* Hide scrollbar for Chrome, Safari and Opera */
.main::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.main {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Nav */

.navbar,
.nav {
  background-color: #303030 !important;
  z-index: 1000 !important;
  padding: 15px 30px !important;
  position: fixed !important;
  width: 100% !important;
  top: 0 !important;
  left: 0 !important;
}

nav .dropdown-menu {
  background-color: rgba(48, 48, 48, 0.8) !important;
  padding-top: 15px !important ;
}

nav .dropdown-item {
  /* padding: 0 !important; */
}

nav hr {
  background-color: #f38960 !important;
}

/* Texts */
.headline {
  font-family: 'Arvo', serif !important;
  /* font-family: 'Montserrat', sans-serif !important; */
  /* font-family: 'EB Garamond', serif !important; */
  font-weight: 700 !important;
  font-size: 64px !important;
  line-height: 1.2 !important;
  color: #b0b0b0 !important;
}

.text-primary {
  color: #f38960 !important;
}

.text-gray {
  color: #766666 !important;
}

.text-light {
  color: #b0b0b0 !important;
}

.font-arvo {
  font-family: 'Arvo', serif !important;
}

.font-montserrat {
  font-family: 'Montserrat', sans-serif !important;
}

.font-garamond {
  font-family: 'EB Garamond', serif !important;
}

/* Content */

.bg-primary {
  background-color: rgba(243, 137, 96, 0.5) !important;
}

.bg-secondary {
  background-color: rgba(48, 48, 48, 0.5) !important;
}

.container {
  background-color: #303030 !important;
  border-radius: 10px !important;
  padding: 30px !important;
  z-index: 0 !important;
  opacity: 0.9 !important;
  max-height: 80vh;
}

#problemlist-bottom.container {
  padding-top: 0 !important;
}

#problemlist-header {
  margin-top: 3vh !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

#problemlist {
  max-height: 75vh;
}

#problemlist-bottom {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.card {
  background-color: #303030 !important;
  color: #b0b0b0 !important;
  border-radius: 10px !important;
}

a {
  color: #f38960 !important;
  transition: color 0.3s !important;
}

a:hover {
  color: #f38960 !important;
}

/* Buttons */

/* Button Primary */
.btn-primary {
  background-color: #303030 !important;
  color: #f38960 !important;
  border-color: #51393e !important;
}

.btn-primary:hover {
  background-color: #424242 !important; /* on hover - slightly lighter  */
  border-color: #51393e !important;
}

.btn-outline-primary {
  color: #f38960 !important;
  border-color: #f38960 !important;
}

.btn-outline-primary:hover {
  background-color: #f38960 !important;
  color: #212121 !important;
}

.btn-outline-primary:focus,
.btn-outline-primary:active,
.btn-outline-primary.active {
  box-shadow: 0 0 0 0.25rem rgba(243, 137, 96, 0.5) !important;
}

.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
  color: #f38960 !important;
  border-color: #f38960 !important;
}

/* Button Info */
.btn-info {
  background-color: #7a9bae !important;
  color: #f8f9fa !important;
  border-color: #6b8c9a !important;
}

.btn-info:hover {
  background-color: #6b8c9a !important;
  border-color: #5a7b89 !important;
}

.btn-outline-info {
  color: #7a9bae !important;
  border-color: #7a9bae !important;
}

.btn-outline-info:hover {
  background-color: #7a9bae !important;
  color: #f8f9fa !important;
}

.btn-outline-info:focus,
.btn-outline-info:active,
.btn-outline-info.active {
  box-shadow: 0 0 0 0.25rem rgba(122, 155, 174, 0.5) !important;
}

.btn-outline-info.disabled,
.btn-outline-info:disabled {
  color: #7a9bae !important;
  border-color: #7a9bae !important;
}

/* Form */

form {
  background-color: #303030 !important;
}

.form-control {
  background-color: #212121 !important;
  border: 1px solid #f38960 !important;
  border-radius: 5px !important;
  color: #b0b0b0 !important;
}

.form-label {
  font-weight: bold !important;
  margin-bottom: 5px !important;
  color: #b0b0b0 !important;
}

/* Form: Toggle Switch */

/* this background-color also takes care of the toggle switch background */
input,
select,
textarea {
  background-color: #773c24 !important;
  color: #b0b0b0 !important;
}
/* #isSolutionSwitch,
#isWhiteboardModeSwitch,
#isInterviewModeSwitch {
  background-color: #773c24 !important;
  color: #b0b0b0 !important;
} */

#select-problem-inside-typeahead {
  background-color: transparent !important;
  border: none !important;
  width: 100%;
}
#select-problem-inside-typeahead:focus {
  outline: none !important;
  box-shadow: none !important;
}

.form-check-input:checked {
  background-color: #c4740b !important;
  border-color: #c4740b !important;
}

.form-check-input:focus {
  outline: none !important;
  box-shadow: 0 0 0 0.2rem rgba(255, 100, 180, 0.5) !important;
}

/* Form: Datepicker Icon */

input[type='date']::-webkit-calendar-picker-indicator {
  border: 1px solid #f38960 !important;
  border-radius: 5px !important;
  background-color: #f38960 !important;
}

input[type='time']::-webkit-calendar-picker-indicator {
  border: 1px solid #f38960 !important;
  border-radius: 5px !important;
  background-color: #f38960 !important;
}

/* Form: Typeahead */

#select-problem-typeahead.rbt-menu.dropdown-menu {
  background-color: #303030 !important;
  color: #b0b0b0 !important;
}

#select-problem-typeahead.rbt-menu.dropdown-menu.show {
  top: 37px !important;
}

#select-problem-typeahead.dropdown-item {
  background-color: #303030 !important;
  color: #b0b0b0 !important;
}

.rbt-input-hint {
  /* border-radius: 100px !important; */
  background-color: transparent !important;
}

#problem-search-typeahead.rbt-menu.dropdown-menu.show {
  top: 0px !important;
}

#problem-search-typeahead.rbt-menu.dropdown-menu {
  background-color: rgba(48, 48, 48, 0.75) !important;
}

.dropdown-item:hover,
.dropdown-item:focus {
  background-color: #212121 !important;
}
.dropdown-item.active {
  background-color: #653906 !important;
}

.required-asterisk {
  color: red;
}

/* Icons */
.icon {
  font-size: 20px !important;
  color: #f38960 !important;
}

/* Table */
/* .table thead {
  position: relative;
} */

table thead tr {
  position: sticky;
  top: 0;
  background: white;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}

/* Card & Accordion for NoteListPage */

.card-header {
  cursor: pointer !important;
  color: #f38960 !important;
  transition: color 0.3s ease !important;
}

.card-header:hover {
  color: #f4e4e4 !important;
}

.card-header .icon,
.card-header .your-accordion-stick-class {
  color: #df6fbc !important;
}

/* Accordion's Arrow */
.accordion-header {
  cursor: pointer;
  position: relative;
}

.accordion-arrow {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.accordion-arrow::before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  border-right: 2px solid #f38960;
  border-bottom: 2px solid #f38960;
  transform: rotate(-45deg);
  transition: transform 0.3s ease-in-out;
}

.accordion-toggle .accordion-arrow::before {
  transform: rotate(45deg);
}

/* Resource Card */

.resource-card {
  width: 100% !important;
  position: relative !important;
  padding-bottom: 56.25% !important; /* 16:9 aspect ratio */
  height: 0 !important; /* set height to 0 to use padding for aspect ratio */
}

.resource-card iframe,
.resource-card img {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  border-radius: 5px !important;
}
