/* Palette: Cool Elegance */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap');

/* General */
body {
  background: linear-gradient(45deg, #191923, #78b4ff) !important;
  color: #7df9ff !important;
  margin: 0 !important;
  padding: 0 !important;
  transition: background 0.3s !important;
  height: 100vh !important;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Lato', sans-serif !important;
}

.text-light {
  color: #7df9ff !important;
}

.text-light-gray {
  color: #e0ffff !important;
}

/* Glassmorphic Container */
.container {
  background-color: rgba(120, 180, 255, 0.75) !important;
  border-radius: 10px !important;
  padding: 20px !important;
  backdrop-filter: blur(10px); /* Glass effect */
  border: 1px solid rgba(255, 255, 255, 0.1); /* Light border */
  z-index: 0 !important;
}

/* Buttons */
.btn-primary {
  background-color: rgba(125, 249, 255, 0.8) !important; /* Semi-transparent */
  border-color: rgba(255, 255, 255, 0.1) !important;
  backdrop-filter: blur(4px); /* Glass effect */
}

.btn-primary:hover {
  background-color: rgba(125, 249, 255, 0.9) !important;
}

.btn-outline-primary {
  color: #7df9ff !important;
  background-color: transparent !important;
  border-color: #7df9ff !important;
  backdrop-filter: blur(4px); /* Glass effect */
}

.btn-outline-primary:hover {
  background-color: rgba(125, 249, 255, 0.1) !important;
  border-color: #50e3c2 !important;
  color: #50e3c2 !important;
}

.btn-outline-primary:focus,
.btn-outline-primary:active,
.btn-outline-primary.active {
  box-shadow: 0 0 0 0.25rem rgba(125, 249, 255, 0.5) !important;
}

.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
  color: rgba(125, 249, 255, 0.5) !important;
  border-color: rgba(125, 249, 255, 0.5) !important;
}

.navbar,
.nav {
  z-index: 2 !important;
  background-color: rgba(25, 25, 35, 0.8) !important;
  backdrop-filter: blur(10px); /* Glass effect */
  padding: 10px !important;
}

.card {
  background-color: rgba(25, 25, 35, 0.8) !important;
  color: #7df9ff !important;
  border-radius: 10px !important;
  backdrop-filter: blur(10px); /* Glass effect */
  border: 1px solid rgba(255, 255, 255, 0.1); /* Light border */
}

a {
  color: #7df9ff !important;
  transition: color 0.3s !important;
}

a:hover {
  color: #50e3c2 !important;
}

/* Form */
.form-control {
  background-color: rgba(25, 25, 35, 0.6) !important;
  border: 1px solid #7df9ff !important;
  border-radius: 5px !important;
  color: #7df9ff !important;
  backdrop-filter: blur(4px); /* Glass effect */
}

.form-label {
  font-weight: bold !important;
  margin-bottom: 5px !important;
}

/* Icons */
.icon {
  font-size: 20px !important;
  color: #7df9ff !important;
}

/* Switch */
.form-switch
  .form-check-input:checked[type='checkbox']
  ~ .form-check-label::before {
  background-color: #7df9ff !important;
  border-color: #7df9ff !important;
}

.form-switch
  .form-check-input:checked[type='checkbox']
  ~ .form-check-label::after {
  transform: translateX(1.5rem) !important;
}

.form-switch
  .form-check-input:focus:checked[type='checkbox']
  ~ .form-check-label::before,
.form-switch
  .form-check-input:active:checked[type='checkbox']
  ~ .form-check-label::before {
  box-shadow: 0 0 0 0.2rem rgba(125, 249, 255, 0.25) !important;
}
